.hll { background-color: #ffffcc }
.scala  { background: #f8f8f8; }
.c { color: #408080; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */


.scala .hll { background-color: #ffffcc }
.scala  { background: #f8f8f8; }
.scala .c { color: #408080; font-style: italic } /* Comment */
.scala .err { border: 1px solid #FF0000 } /* Error */
.scala .k { color: #008000; font-weight: bold } /* Keyword */
.scala .o { color: #666666 } /* Operator */
.scala .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.scala .cp { color: #BC7A00 } /* Comment.Preproc */
.scala .c1 { color: #408080; font-style: italic } /* Comment.Single */
.scala .cs { color: #408080; font-style: italic } /* Comment.Special */
.scala .gd { color: #A00000 } /* Generic.Deleted */
.scala .ge { font-style: italic } /* Generic.Emph */
.scala .gr { color: #FF0000 } /* Generic.Error */
.scala .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.scala .gi { color: #00A000 } /* Generic.Inserted */
.scala .go { color: #808080 } /* Generic.Output */
.scala .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.scala .gs { font-weight: bold } /* Generic.Strong */
.scala .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.scala .gt { color: #0040D0 } /* Generic.Traceback */
.scala .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.scala .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.scala .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.scala .kp { color: #008000 } /* Keyword.Pseudo */
.scala .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.scala .kt { color: #B00040 } /* Keyword.Type */
.scala .m { color: #666666 } /* Literal.Number */
.scala .s { color: #BA2121 } /* Literal.String */
.scala .na { color: #7D9029 } /* Name.Attribute */
.scala .nb { color: #008000 } /* Name.Builtin */
.scala .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.scala .no { color: #880000 } /* Name.Constant */
.scala .nd { color: #AA22FF } /* Name.Decorator */
.scala .ni { color: #999999; font-weight: bold } /* Name.Entity */
.scala .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.scala .nf { color: #0000FF } /* Name.Function */
.scala .nl { color: #A0A000 } /* Name.Label */
.scala .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.scala .nt { color: #008000; font-weight: bold } /* Name.Tag */
.scala .nv { color: #19177C } /* Name.Variable */
.scala .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.scala .w { color: #bbbbbb } /* Text.Whitespace */
.scala .mf { color: #666666 } /* Literal.Number.Float */
.scala .mh { color: #666666 } /* Literal.Number.Hex */
.scala .mi { color: #666666 } /* Literal.Number.Integer */
.scala .mo { color: #666666 } /* Literal.Number.Oct */
.scala .sb { color: #BA2121 } /* Literal.String.Backtick */
.scala .sc { color: #BA2121 } /* Literal.String.Char */
.scala .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.scala .s2 { color: #BA2121 } /* Literal.String.Double */
.scala .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.scala .sh { color: #BA2121 } /* Literal.String.Heredoc */
.scala .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.scala .sx { color: #008000 } /* Literal.String.Other */
.scala .sr { color: #BB6688 } /* Literal.String.Regex */
.scala .s1 { color: #BA2121 } /* Literal.String.Single */
.scala .ss { color: #19177C } /* Literal.String.Symbol */
.scala .bp { color: #008000 } /* Name.Builtin.Pseudo */
.scala .vc { color: #19177C } /* Name.Variable.Class */
.scala .vg { color: #19177C } /* Name.Variable.Global */
.scala .vi { color: #19177C } /* Name.Variable.Instance */
.scala .il { color: #666666 } /* Literal.Number.Integer.Long */
